* {
	background-image: none;
}
window {
	background-color: {color10};
button {
    outline-style: none;
    color: #FFFFFF;
	background-color: rgba(17,45,126,0.7);
	border-style: groove;
	border-width: 2px;
	border-top: 0px;
	border-bottom: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35%;
	border-radius: 200px 200px 200px 200px;
}

button:active, button:hover {
	background-color: #3700B3;
	outline-style: none;
	border-color: #08f2ff;
	border-radius: 200px 200px 200px 200px;
	border-style: groove;
    border-width: 2px;
	border-top: 0px;
	border-bottom: 0px;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
