

* {
	background-image: none;
}
window {
	background-color: rgba(17,5, 126, 0.3);
}
button {
    outline-style: none;
    color: #FFFFFF;
    margin-bottom: 5px;
    margin-right: 5px;
	background-color: rgba(48,50,45,0.6);
	border-style: groove;
	border-width: 3px;
	border-left: 0px;
	border-right: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	border-radius: 100px 100px 100px 100px;
	
}

button:active, button:hover {
	background-color: rgba(48,50,45,0.9);
	outline-style: none;
	margin-bottom: 5px;
	margin-right: 5px;
	border-color: {{color14}};
	background-position: center;
	border-radius: 100px 100px 100px 100px;
	border-style: groove;
    border-width: 3px;
	
	
	background-size: 35%;
	box-shadow: 1px 5px 10px 1px rgba(8,242,255,0.7) ;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
